body, * {
  font-family: 'Nunito', sans-serif;
}

#app {
  background-color: white;
  -webkit-box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
  margin-top: 60px;
  height: 80vh;
  border-radius: 5px;
}

.tasks {
  padding: 20px;
}

h1 {
  font-size: 4rem;
  color: #01395C;
}

small {
  color: #F28C81;
}

.btn {
  min-width: 170px;
}

.btn:first-of-type {
  margin-right: 5px;
}
